In [27]:
import json
import pandas as pd
from datetime import datetime

In [28]:
df1 = pd.read_csv(r'../Data/dericavao_24h.csv')
df2 = pd.read_csv(r'../Data/Itau.csv')

In [29]:
def save(file_path, **dataframes):
    """
    Salva múltiplos DataFrames em um arquivo JSON
    
    Uso:
    save_multiple_dfs_to_json("dados.json",
        analistas=df1,
        clientes=df2,
        metricas=df3)
    """
    serialized_data = {}
    
    for name, df in dataframes.items():
        # Converte DataFrame para formato serializável
        serialized_data[name] = {
            "columns": df.columns.tolist(),
            "data": df.values.tolist()
        }
    
    with open(file_path, 'w', encoding='utf-8') as f:
        json.dump(serialized_data, f, ensure_ascii=False, indent=4)
        
def load(file_path):
    """Carrega múltiplos DataFrames de um arquivo JSON"""
    with open(file_path, 'r', encoding='utf-8') as f:
        data = json.load(f)
    
    dfs = {}
    
    for name, df_data in data.items():
        # Reconstrói o DataFrame
        dfs[name] = pd.DataFrame(
            data=df_data["data"],
            columns=df_data["columns"]
        )
    
    return dfs

In [30]:
save("todos_dados.json", d1=df1, d2=df2)

In [31]:
dfs_carregados = load("todos_dados.json")

# Atribuir de volta ao session_state
dfs_carregados["d1"]
# dfs_carregados["d2"]

   horario  quantidade
0    00:00           0
1    01:00           0
2    02:00           0
3    03:00           0
4    04:00           0
5    05:00           0
6    06:00           0
7    07:00         631
8    08:00         215
9    09:00         386
10   10:00         275
11   11:00         315
12   12:00         145
13   13:00         257
14   14:00         216
15   15:00         185
16   16:00         199
17   17:00         285
18   18:00         299
19   19:00         216
20   20:00         185
21   21:00         133
22   22:00           0
23   23:00           0